/* 메인 페이지 시작 */
.main-top {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    // 사용안함
    // .banner-loading {
    //   margin-top: 3.2rem;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   font-size: 1.6rem;
    //   font-weight: 600;
    //   color: $text-body-color;
    //   width: 100%;
    //   height: 30rem;
    //   background-color: #e5eef8;
    //   border-radius: 1.2rem;
    //   &::before {
    //     content: '';
    //     display: block;
    //     width: 4rem;
    //     height: 4rem;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: 100%;
    //     background-image: url('/img/lottie/loading.gif');
    //   }
    //   @include media-min-width(1281) {
    //     width: 74rem;
    //     height: 42.4rem;
    //     margin-top: 0;
    //   }
    // }
    @include media-min-width(1025) {
        margin-top: 4rem;
        gap: 3.6rem;
    }
    .swiper-main {
        //height: 36rem;
        position: relative;
        flex: 1 1 auto;
        margin-top: 3.2rem;
        min-height: 20rem;
        width: 100%;
        @include media-min-width(1025) {
            margin: 0;
        }
        .swiper {
            height: 100%;
            padding-bottom: 2.2rem;
            @include media-min-width(1025) {
                padding-bottom: 0;
            }
        }
        .swiper-slide {
            height: 100%;
            a {
                display: block;
                border-radius: 1.2rem;
                background-color: $readonly-color;
            }
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 1.2rem;
        }
        .swiper-button-prev,
        .swiper-button-next {
            width: 2.4rem;
            height: 2.4rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: none;
            @include media-min-width(1025) {
                display: block;
            }
            &::after {
                content: none;
            }
            &.swiper-button-prev {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.7071 19.7071C16.0976 19.3166 16.0976 18.6834 15.7071 18.2929L9.41421 12L15.7071 5.70711C16.0976 5.31658 16.0976 4.68342 15.7071 4.29289C15.3166 3.90237 14.6834 3.90237 14.2929 4.29289L7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071L14.2929 19.7071C14.6834 20.0976 15.3166 20.0976 15.7071 19.7071Z' fill='white'/%3E%3C/svg%3E");
            }
            &.swiper-button-next {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.29289 19.7071C7.90237 19.3166 7.90237 18.6834 8.29289 18.2929L14.5858 12L8.29289 5.70711C7.90237 5.31658 7.90237 4.68342 8.29289 4.29289C8.68342 3.90237 9.31658 3.90237 9.70711 4.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L9.70711 19.7071C9.31658 20.0976 8.68342 20.0976 8.29289 19.7071Z' fill='white'/%3E%3C/svg%3E");
            }
        }
        .swiper-pagination-container {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            @include media-min-width(1025) {
                bottom: 48px;
                padding-left: 60px;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        .swiper-pagination {
            position: relative;
            width: auto;
            .swiper-pagination-bullet {
                background-color: #949494;
                opacity: 1;
                margin: 0 0.4rem;
                @include media-min-width(1025) {
                    background-color: $white-color;
                }
                &.swiper-pagination-bullet-active {
                    opacity: 1;
                    width: 2rem;
                    border-radius: 0.4rem;
                    opacity: 1;
                    background-color: $input-focus-line;
                    @include media-min-width(1025) {
                        background-color: $white-color;
                    }
                }
            }
        }
    }
    .main-claim-list {
        flex: 1 1 auto;
        margin-top: 3.2rem;
        @include media-min-width(1025) {
            margin-top: 0;
        }
        ul {
            display: flex;
            gap: 1.6rem;
            flex-wrap: wrap;
            @include media-min-width(1025) {
                gap: 2.4rem;
            }
            li {
                flex: 1 1 calc(50% - 1.2rem);
                @include media-min-width(1025) {
                    flex: 1 1 calc(25% - 2.4rem);
                }
                a {
                    background-color: $readonly-color;
                    padding: 24px;
                    border-radius: 1.2rem;
                    height: 16.4rem;
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    @include media-min-width(1025) {
                        height: 20rem;
                    }
                    strong {
                        color: $base-txt-color;
                        display: block;
                        @include font(1.8rem, 700, 2.6rem);
                        @include media-min-width(1025) {
                            @include font(2rem, 700, 2.8rem);
                        }
                    }
                    span {
                        display: block;
                        color: $text-sub-color;
                        margin-top: 0.4rem;
                        @include font(1.4rem, 400, 2rem);
                        @include media-min-width(1025) {
                            @include font(1.6rem, 400, 2.4rem);
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 1.6rem;
                        bottom: 1.6rem;
                        width: 48px;
                        height: 48px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include media-min-width(1025) {
                            width: 60px;
                            height: 60px;
                        }
                        @include media-max-width(375) {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                &.item-1 {
                    a {
                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath d='M9.33594 35.7974C9.33594 48.1966 25.4571 57.3327 31.5026 57.3327C37.5481 57.3327 53.6693 48.1966 53.6693 35.7974C53.6693 29.2708 53.6693 23.364 53.6693 19.2329C53.6693 15.6603 51.3976 12.5008 48.0526 11.4176L35.1686 7.24529C32.7835 6.47293 30.2217 6.47292 27.8367 7.24529L14.9526 11.4176C11.6076 12.5008 9.33594 15.6603 9.33594 19.2329C9.33594 23.364 9.33594 29.2708 9.33594 35.7974Z' fill='%2304C3A1'/%3E%3Cpath d='M42.4003 28.4008H35.1012V21.102C35.1007 20.6329 34.9142 20.1833 34.5825 19.8516C34.2509 19.52 33.8012 19.3335 33.3322 19.333H29.6732C29.2042 19.3334 28.7545 19.5199 28.4228 19.8516C28.0912 20.1832 27.9047 20.6329 27.9043 21.102V28.4008H20.6049C20.1359 28.4014 19.6863 28.5879 19.3547 28.9196C19.0231 29.2512 18.8365 29.7008 18.8359 30.1698V33.8288C18.8365 34.2978 19.0231 34.7474 19.3547 35.079C19.6863 35.4106 20.1359 35.5972 20.6049 35.5978H27.9044V42.8972C27.9049 43.3662 28.0914 43.8158 28.423 44.1474C28.7546 44.4791 29.2043 44.6656 29.6732 44.6662H33.3322C33.8012 44.6656 34.2508 44.479 34.5824 44.1474C34.914 43.8158 35.1006 43.3662 35.1012 42.8972V35.5978H42.4003C42.8693 35.5972 43.319 35.4107 43.6506 35.0791C43.9822 34.7474 44.1688 34.2978 44.1693 33.8288V30.1698C44.1688 29.7008 43.9822 29.2511 43.6506 28.9195C43.319 28.5879 42.8693 28.4013 42.4003 28.4008Z' fill='white'/%3E%3C/svg%3E");
                        }
                    }
                }
                &.item-2 {
                    a {
                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath d='M57.3297 58.5151C57.3297 59.3462 56.6768 59.9992 55.8457 59.9992H8.15595C7.3247 59.9992 6.67188 59.3461 6.67188 58.5151C6.67188 52.7864 11.332 48.0273 17.0607 48.0273H46.941C52.6696 48.0273 57.3297 52.7865 57.3297 58.5151Z' fill='%23FF5CA8'/%3E%3Cpath d='M16.9657 21.4076C15.1657 21.4076 13.0351 21.0323 11.5698 19.5684C8.73785 16.7349 9.97988 11.4073 10.1307 10.8101C10.2641 10.2796 10.677 9.86659 11.2076 9.73319C11.8033 9.58248 17.131 8.34035 19.966 11.1723C22.7979 14.0058 21.5558 19.3335 21.4051 19.9307C21.2717 20.4612 20.8588 20.8742 20.3282 21.0076C20.0397 21.08 18.6484 21.4076 16.9657 21.4076Z' fill='%236D3326'/%3E%3Cpath d='M17.1589 39.0244H15.6748C12.4008 39.0244 9.73828 36.362 9.73828 33.0879C9.73828 29.8137 12.4007 27.1514 15.6748 27.1514H17.1589C17.9792 27.1514 18.6429 27.8152 18.6429 28.6354V37.5401C18.643 38.3606 17.9792 39.0244 17.1589 39.0244Z' fill='%23FAC8B6'/%3E%3Cpath d='M48.3236 39.0242H46.8395C46.0192 39.0242 45.3555 38.3604 45.3555 37.5401V28.6354C45.3555 27.8151 46.0193 27.1514 46.8395 27.1514H48.3236C51.5977 27.1514 54.2601 29.8137 54.2601 33.0879C54.2601 36.362 51.5977 39.0242 48.3236 39.0242Z' fill='%23FAC8B6'/%3E%3Cpath d='M48.3264 30.1205V37.5411C48.3264 46.5347 40.995 53.9653 32.0011 53.9653C23.0073 53.9653 15.6758 46.5347 15.6758 37.5411V30.1205L23.0964 21.2158H40.9058L48.3264 30.1205Z' fill='%23FFD7CA'/%3E%3Cpath d='M38.9134 45.3864C37.0137 47.0782 34.5501 48.028 31.9973 48.028C29.4446 48.028 26.981 47.0782 25.0812 45.3864C24.458 44.8224 24.3986 43.9023 24.9626 43.2788C25.4969 42.6853 26.4467 42.6259 27.0403 43.1602C28.4057 44.4068 30.2163 45.0005 31.9971 45.0005C33.778 45.0005 35.5888 44.4069 36.954 43.1602C37.5476 42.6259 38.4975 42.6854 39.0317 43.2788C39.5962 43.9023 39.5367 44.8224 38.9134 45.3864Z' fill='%23FF9564'/%3E%3Cpath d='M47.217 21.408C45.5358 21.408 44.1443 21.0805 43.856 21.0081C43.3255 20.8747 42.9125 20.4617 42.7791 19.9312C42.6284 19.3341 41.3863 14.0063 44.2182 11.1728C47.0561 8.34079 52.3824 9.5843 52.9766 9.73363C53.5071 9.86703 53.9201 10.28 54.0535 10.8105C54.2042 11.4076 55.4463 16.7354 52.6144 19.5689C51.1506 21.0327 49.0171 21.408 47.217 21.408Z' fill='%2355271A'/%3E%3Cpath d='M26.0661 36.056C26.8857 36.056 27.5502 35.3916 27.5502 34.572C27.5502 33.7523 26.8857 33.0879 26.0661 33.0879C25.2465 33.0879 24.582 33.7523 24.582 34.572C24.582 35.3916 25.2465 36.056 26.0661 36.056Z' fill='%2353433F'/%3E%3Cpath d='M37.9411 36.056C38.7607 36.056 39.4252 35.3916 39.4252 34.572C39.4252 33.7523 38.7607 33.0879 37.9411 33.0879C37.1215 33.0879 36.457 33.7523 36.457 34.572C36.457 35.3916 37.1215 36.056 37.9411 36.056Z' fill='%233E322E'/%3E%3Cpath d='M48.3264 28.6358V30.1199H43.8741C38.7093 30.1199 34.2273 27.1813 32.0011 22.8774C29.775 27.1813 25.2929 30.1199 20.1282 30.1199H15.6758V28.6358C15.6758 19.642 23.0072 12.3105 32.001 12.3105C40.9949 12.3105 48.3264 19.6421 48.3264 28.6358Z' fill='%23883F2E'/%3E%3C/svg%3E");
                        }
                    }
                }
                &.item-3 {
                    height: 14.4rem;
                    a {
                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath d='M49.2179 28.3697H14.7821C14.336 28.3697 13.9092 28.1881 13.5997 27.8666C10.5594 24.7065 9.91872 19.5176 12.3165 15.3649C14.3677 11.8125 18.3202 9.64659 22.3339 9.98663C24.0312 6.3742 27.8582 4.00098 32 4.00098C36.1361 4.00098 39.9665 6.36938 41.6661 9.98674C45.6969 9.64549 49.6412 11.8279 51.6835 15.3651C54.0817 19.5184 53.44 24.7072 50.4003 27.8667C50.0908 28.1881 49.664 28.3697 49.2179 28.3697Z' fill='%23CACDD0'/%3E%3Cpath d='M13.179 34.4452L20.3855 27.2387C21.419 26.2052 23.1862 26.9371 23.1862 28.3988V44.3022C23.1862 45.2003 22.4637 45.9401 21.5655 45.9428H17.9623C15.2197 45.9511 12.7674 44.3173 11.7188 41.785C10.6731 39.2588 11.2463 36.3778 13.179 34.4452Z' fill='%23CACDD0'/%3E%3Cpath d='M52.2786 48.2012L48.0981 44.0205C47.7905 43.7129 47.3732 43.54 46.938 43.54H17.0642C16.6291 43.54 16.2117 43.7129 15.904 44.0205L11.7237 48.2011C9.00609 50.9183 7.51126 54.5326 7.51563 58.3772C7.51673 59.2767 8.25676 60.001 9.15626 60.001H54.8458C55.7452 60.001 56.4853 59.2767 56.4864 58.3773C56.4911 54.5331 54.9963 50.9185 52.2786 48.2012Z' fill='%237AC750'/%3E%3Cpath d='M42.3098 38.9141H21.6891C21.254 38.9141 20.8366 39.0869 20.529 39.3945L15.9024 44.0211C15.2617 44.6617 15.2617 45.7006 15.9024 46.3413L19.4609 49.8998C22.4984 52.9372 27.4414 52.938 30.4796 49.8998L31.9995 48.38L33.5193 49.8999C36.5568 52.9374 41.4998 52.9381 44.538 49.8999L48.0965 46.3414C48.7372 45.7008 48.7372 44.6619 48.0965 44.0212L43.4699 39.3947C43.1623 39.087 42.745 38.9141 42.3098 38.9141Z' fill='%23459A17'/%3E%3Cpath d='M19.7011 35.3992H16.1865C13.344 35.3992 11.0312 33.0866 11.0312 30.244C11.0312 27.4015 13.344 25.0889 16.1865 25.0889H19.7011C20.6071 25.0889 21.3417 25.8234 21.3417 26.7295V33.7587C21.3417 34.6648 20.6071 35.3992 19.7011 35.3992Z' fill='%23FAC8B6'/%3E%3Cpath d='M47.8192 35.3992H44.3047C43.3986 35.3992 42.6641 34.6646 42.6641 33.7586V26.7295C42.6641 25.8234 43.3986 25.0889 44.3047 25.0889H47.8192C50.6618 25.0889 52.9745 27.4016 52.9745 30.2441C52.9745 33.0867 50.6618 35.3992 47.8192 35.3992Z' fill='%23FAC8B6'/%3E%3Cpath d='M32.0003 47.7001C24.3129 47.7001 18.0586 41.4458 18.0586 33.7584V26.7275C18.0586 20.5464 22.9299 14.5449 30.3597 14.5449C31.2657 14.5449 32.0003 15.2795 32.0003 16.1855C32.0003 19.1576 34.4168 21.5741 37.387 21.5741H44.3014C45.2074 21.5741 45.942 22.3087 45.942 23.2148V33.7584C45.942 41.4459 39.6877 47.7001 32.0003 47.7001Z' fill='%23FFDDCA'/%3E%3Cpath d='M38.9174 40.0543C37.0176 41.7462 34.554 42.696 32.0013 42.696C29.4485 42.696 26.985 41.7462 25.0852 40.0543C24.4619 39.4904 24.4025 38.5702 24.9665 37.9468C25.5008 37.3533 26.4506 37.2939 27.0442 37.8282C28.4096 39.0747 30.2202 39.6685 32.0011 39.6685C33.7819 39.6685 35.5927 39.0748 36.9579 37.8282C37.5515 37.2939 38.5014 37.3534 39.0356 37.9468C39.6001 38.5702 39.5406 39.4904 38.9174 40.0543Z' fill='%23FFAA83'/%3E%3Cpath d='M26.7305 31.0059C27.6366 31.0059 28.3711 30.2713 28.3711 29.3652C28.3711 28.4591 27.6366 27.7246 26.7305 27.7246C25.8244 27.7246 25.0898 28.4591 25.0898 29.3652C25.0898 30.2713 25.8244 31.0059 26.7305 31.0059Z' fill='%23233743'/%3E%3Cpath d='M37.2734 31.0059C38.1795 31.0059 38.9141 30.2713 38.9141 29.3652C38.9141 28.4591 38.1795 27.7246 37.2734 27.7246C36.3673 27.7246 35.6328 28.4591 35.6328 29.3652C35.6328 30.2713 36.3673 31.0059 37.2734 31.0059Z' fill='%230A141E'/%3E%3C/svg%3E");
                        }
                    }
                }
                &.item-4 {
                    a {
                        &::after {
                            background-image: url("data:image/svg+xml,%0A%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8114 11.4075V29.313C14.8096 29.6375 14.7073 29.9534 14.5187 30.2174C14.3301 30.4814 14.0645 30.6805 13.7581 30.7875C13.5906 30.8548 13.4121 30.8905 13.2315 30.8929H6.91193C6.49387 30.8898 6.0938 30.7224 5.79818 30.4268C5.50255 30.1311 5.33511 29.7311 5.33204 29.313V11.4075C5.33041 10.1987 5.79277 9.03526 6.62376 8.15729C7.45475 7.27931 8.59099 6.75372 9.79813 6.68892C9.88822 6.67144 9.98002 6.66437 10.0717 6.66785C11.3282 6.66975 12.5326 7.16972 13.4211 8.05817C14.3095 8.94662 14.8095 10.1511 14.8114 11.4075Z' fill='%2394A9C7'/%3E%3Cpath d='M46.412 18.7804V50.475C46.4116 51.1127 46.2458 51.7395 45.9307 52.294C45.6157 52.8485 45.1622 53.3118 44.6146 53.6386C44.067 53.9655 43.444 54.1447 42.8064 54.1588C42.1688 54.1729 41.5385 54.0214 40.977 53.719C40.7245 53.5927 40.5137 53.4663 40.3033 53.3399C39.4779 52.7432 38.477 52.4393 37.4592 52.4762C36.4257 52.443 35.4104 52.7542 34.573 53.3609C33.2325 54.2174 31.6741 54.6707 30.0833 54.667C28.4925 54.6632 26.9363 54.2026 25.5997 53.3399C24.7553 52.7496 23.7434 52.4468 22.7135 52.4762C21.6904 52.4464 20.6851 52.7494 19.849 53.3399C19.6381 53.4661 19.4272 53.5927 19.1958 53.7192C18.6346 54.024 18.0037 54.1775 17.3652 54.1645C16.7267 54.1515 16.1026 53.9726 15.5542 53.6453C15.0058 53.3179 14.5521 52.8535 14.2376 52.2976C13.9232 51.7418 13.7589 51.1136 13.7608 50.475V10.8809C13.76 9.80889 13.3495 8.77771 12.6134 7.99842C11.8772 7.21913 10.871 6.75067 9.80078 6.68892C9.89087 6.67144 9.98267 6.66437 10.0744 6.66785H34.2994C37.5106 6.67195 40.5891 7.9494 42.8598 10.2201C45.1304 12.4907 46.4079 15.5692 46.412 18.7804Z' fill='%23DDE3EE'/%3E%3Cpath d='M37.4545 20.361H22.7088C22.2898 20.361 21.8879 20.1945 21.5916 19.8982C21.2954 19.6019 21.1289 19.2001 21.1289 18.7811C21.1289 18.3621 21.2954 17.9602 21.5916 17.6639C21.8879 17.3676 22.2898 17.2012 22.7088 17.2012H37.4545C37.8735 17.2012 38.2754 17.3676 38.5716 17.6639C38.8679 17.9602 39.0344 18.3621 39.0344 18.7811C39.0344 19.2001 38.8679 19.6019 38.5716 19.8982C38.2754 20.1945 37.8735 20.361 37.4545 20.361ZM31.1349 37.2132H22.7088C22.2898 37.2132 21.8879 37.0467 21.5916 36.7504C21.2954 36.4541 21.1289 36.0523 21.1289 35.6333C21.1289 35.2143 21.2954 34.8124 21.5916 34.5161C21.8879 34.2198 22.2898 34.0534 22.7088 34.0534H31.1349C31.5539 34.0534 31.9558 34.2198 32.2521 34.5161C32.5483 34.8124 32.7148 35.2143 32.7148 35.6333C32.7148 36.0523 32.5483 36.4541 32.2521 36.7504C31.9558 37.0467 31.5539 37.2132 31.1349 37.2132ZM37.4545 28.7871H22.7088C22.2898 28.7871 21.8879 28.6206 21.5916 28.3243C21.2954 28.028 21.1289 27.6262 21.1289 27.2072C21.1289 26.7882 21.2954 26.3863 21.5916 26.09C21.8879 25.7937 22.2898 25.6273 22.7088 25.6273H37.4545C37.8735 25.6273 38.2754 25.7937 38.5716 26.09C38.8679 26.3863 39.0344 26.7882 39.0344 27.2072C39.0344 27.6262 38.8679 28.028 38.5716 28.3243C38.2754 28.6206 37.8735 28.7871 37.4545 28.7871Z' fill='%2394A9C7'/%3E%3Cpath d='M46.6641 59.334C53.2915 59.334 58.6641 53.9614 58.6641 47.334C58.6641 40.7066 53.2915 35.334 46.6641 35.334C40.0366 35.334 34.6641 40.7066 34.6641 47.334C34.6641 53.9614 40.0366 59.334 46.6641 59.334Z' fill='%2304C3A1'/%3E%3Cpath d='M47.5573 52.5355C47.8255 52.6725 48.1224 52.7437 48.4236 52.7432C48.772 52.7425 49.1133 52.6459 49.4104 52.4638C49.7074 52.2818 49.9486 52.0215 50.1074 51.7114C50.2662 51.4013 50.3365 51.0535 50.3106 50.7061C50.2847 50.3587 50.1636 50.0251 49.9605 49.742L47.7895 46.7235V42.2815C47.7895 41.7789 47.5899 41.297 47.2345 40.9417C46.8792 40.5863 46.3973 40.3867 45.8947 40.3867C45.3922 40.3867 44.9103 40.5863 44.555 40.9417C44.1996 41.297 44 41.7789 44 42.2815V47.3341C44.0008 47.7309 44.125 48.1176 44.3553 48.4406L46.8816 51.955C47.0576 52.1994 47.2892 52.3984 47.5573 52.5355Z' fill='white'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }
    }

    .user-info {
        width: 100%;
        margin-top: 1.6rem;
        .link-arrow,
        .user-name {
            font-size: 2.2rem;
            line-height: 3.2rem;
            margin-bottom: 1rem;
            font-weight: 700;
            color: $black-color;
            display: flex;
        }
        .link-arrow {
            &:after {
                content: "";
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                margin-left: 0.6rem;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .welcome-txt {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $placeholder;
        }
        & + .m-depth-1 {
            margin-top: 4rem;
        }
    }
}
.main-banner-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 1.6rem;
    margin-top: 4rem;
    @include media-min-width(1025) {
        gap: 4rem;
    }
    .banner-item {
        width: 100%;
        display: block;
        position: relative;
        align-items: center;
        display: flex;
        .img-wrap {
            display: block;
            position: absolute;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .banner-tit {
            color: $base-txt-color;
        }
        .banner-txt {
            color: $text-sub-color;
        }
    }
    .upper-banner {
        margin: 0 -2.4rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @include media-min-width(1025) {
            margin: 0;
            flex-direction: row;
            gap: 1.6rem;
        }
        @include media-min-width(1280) {
            gap: 3.6rem;
        }
        .banner-item {
            padding: 5.2rem 3.2rem;
            background-color: #e5eef8;
            @include media-min-width(1025) {
                border-radius: 1.2rem;
                padding: 5.6rem 6rem;
                height: 18rem;
            }
            @include media-max-width(375) {
                padding: 4rem 3.2rem;
            }
            .img-wrap {
                width: 158px;
                height: auto;
                right: 0;
                bottom: 0;
                @include media-min-width(1025) {
                    right: 0.7rem;
                }
                @include media-min-width(1280) {
                    width: 194px;
                    right: 2.7rem;
                }
            }
            .banner-tit {
                @include font(2rem, 700, 2.8rem);
                @include media-min-width(1025) {
                    br {
                        display: none;
                    }
                    margin-bottom: 1.2rem;
                    @include font(3rem, 700, 3.2rem);
                }
                @include media-max-width(375) {
                    span {
                        display: block;
                    }
                }
            }
            .banner-txt {
                display: none;
                @include media-min-width(1025) {
                    @include font(1.6rem, 400, 2.4rem);
                    display: block;
                }
            }
        }
    }
    .under-banner {
        display: flex;
        gap: 1.6rem;
        width: 100%;
        flex-wrap: wrap;
        @include media-min-width(1025) {
            flex-wrap: nowrap;
        }
        li {
            flex: 1 1 100%;
            @include media-min-width(1025) {
                flex: 1 1 30%;
            }
        }
    }
    .under-banner .banner-item,
    .upper-banner .banner-item.item-1 {
        height: 14.4rem;
        border-radius: 1.2rem;
        padding: 0 2.4rem;
        @include media-min-width(1025) {
            height: 16rem;
        }
        @include media-min-width(1280) {
            padding: 0 3.2rem;
        }
        .img-wrap {
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            width: 82px;
            height: auto;
            right: 24px;
            @include media-max-width(375) {
                width: 6rem;
            }
            /*
      @include media-min-width(1025) {
        right: 32px;
      }
      @include media-max-width(1280) {
        width: 50px;
        right: 12px;
      }
      
        */
        }
        .banner-tit {
            margin-bottom: 0.4rem;
            @include font(1.8rem, 700, 2.6rem);
            @include media-min-width(1025) {
                @include font(2rem, 700, 2.8rem);
            }
        }
        .banner-txt {
            @include font(1.4rem, 400, 2rem);
            @include media-min-width(1025) {
                @include font(1.6rem, 400, 2.4rem);
                br {
                }
            }
        }
        &.item-1 {
            background-color: #e5eef8;
            margin: 0 2.4rem;
            padding: 3.4rem 2.4rem;
            width: auto;
            .banner-txt {
                display: block;
            }
            .img-wrap {
                img {
                    height: auto;
                }
            }

            @include media-min-width(1025) {
                padding: 3.4rem 4.8rem;
                width: calc(33.3% - 0.8rem);
                height: 18rem;
                margin: 0;
                flex: none;
                .banner-tit {
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 3.4rem;
                    margin-bottom: 1.2rem;
                }
                .img-wrap {
                    right: 3.6rem;
                }
            }
            @include media-min-width(1280) {
                width: 42.4rem;
            }
        }
        &.item-2 {
            background-color: #efeaff;
        }
        &.item-3 {
            background-color: #e8f3ff;
            br {
                display: block;
            }
            .banner-txt {
                @include media-min-width(1025) {
                    @include font(1.4rem, 400, 2rem);
                }
            }
            .banner-tit {
                @include font(2.6rem, 700, 3.2rem);
                span {
                    display: block;
                    @include font(1.6rem, 700, 2.4rem);
                }
            }
        }
        &.item-4 {
            background-color: #fff4dc;
        }
    }
}
.main-bottom-board {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    @include media-min-width(1025) {
        flex-wrap: nowrap;
        margin-top: 8rem;
        margin-bottom: 0;
    }
    .notice-wrap,
    .faq-wrap {
        position: relative;
        padding-top: 4.4rem;
        margin-top: 3.2rem;
        padding-bottom: 3.2rem;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            height: 1.2rem;
            left: -2.4rem;
            right: -2.4rem;
            background-color: #eee;
        }
        flex: 1 1 auto;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        @include media-min-width(1025) {
            flex: 0 0 auto;
            width: 50%;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
            &::before {
                content: none;
            }
        }
        .linked-arrow {
            position: absolute;
            right: 0;
            height: 3.2rem;
            width: 100%;
            left: 0;
            top: 4.4rem;
            background-position: center right;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.29289 19.7071C7.90237 19.3166 7.90237 18.6834 8.29289 18.2929L14.5858 12L8.29289 5.70711C7.90237 5.31658 7.90237 4.68342 8.29289 4.29289C8.68342 3.90237 9.31658 3.90237 9.70711 4.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L9.70711 19.7071C9.31658 20.0976 8.68342 20.0976 8.29289 19.7071Z' fill='%231A1B1D'/%3E%3C/svg%3E%0A");
            @include media-min-width(1025) {
                left: 0;
                top: 0;
                right: 6rem;
                width: auto;
            }
            span {
                position: absolute;
                display: block;
                width: 0.1rem;
                height: 0.1rem;
                margin: -1rem;
                right: 0;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
            }
        }
    }
    .notice-wrap {
        @include media-min-width(1025) {
            padding-right: 6rem;
        }
    }
    .faq-wrap {
        @include media-min-width(1025) {
            padding-left: 6rem;
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                height: 100%;
                background-color: #ddd;
                width: 0.1rem;
                top: 0;
            }
            .linked-arrow {
                width: auto;
                left: 6rem;
                right: 0;
            }
        }
    }
    .tit {
        display: block;
        margin-bottom: 4rem;
        position: relative;
        @include media-min-width(1025) {
            @include font(2.4rem, 700, 3.2rem);
        }
        @include font(2.2rem, 700, 3.2rem);
    }
    .list {
        li + li {
            margin-top: 2rem;
            border-top: 0.1rem solid #ddd;
            padding: 2rem 0 0;
            @include media-min-width(1025) {
                border-top: 0;
                padding: 2rem 0;
                padding: 0;
                margin-top: 2.8rem;
            }
        }
        a {
            color: $base-txt-color;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            @include media-min-width(1025) {
                flex-wrap: nowrap;
                // gap: 1rem;
            }
            .tit-name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include font(1.8rem, 700, 2.6rem);
                max-width: calc(100% - 6.6rem);
                @include media-min-width(1025) {
                    @include font(1.8rem, 500, 2.6rem);
                }
            }
            .badge-icon {
                text-transform: uppercase;
                flex: 0 0 auto;
                margin-left: 0.4rem;
            }
            .date {
                color: $text-sub-color;
                @include font(1.4rem, 400, 2rem);
                width: 100%;
                flex: 0 0 auto;
                @include media-min-width(1025) {
                    @include font(1.6rem, 400, 2.6rem);
                    padding-left: 0.8rem;
                    margin-left: auto;
                    width: auto;
                }
            }
            .faq-txt {
                color: $text-sub-color;
                @include font(1.4rem, 400, 2rem);
                margin-top: 0.4rem;
                width: 100%;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include media-min-width(1025) {
                    font-size: 0;
                    display: none;
                }
            }
        }
    }
}

@include media-min-width(1280) {
    .main-top {
        gap: 3.6rem;
        flex-wrap: nowrap;
        margin-top: 8rem;
        .swiper-main {
            width: 74rem;
            height: 42.4rem;
            flex: 0 0 auto;
        }
        .main-claim-list {
            width: 42.4rem;
            flex: 0 0 auto;
            ul {
                li {
                    flex: 1 1 calc(50% - 1.2rem);
                }
            }
        }
    }
    .lg-size {
        .main-top {
            gap: 1rem;
            .swiper-main {
                width: 59%;
                .swiper-slide {
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .main-claim-list {
                width: 40%;
                ul {
                    gap: 1rem;
                }
            }
        }
    }
}

// 탭 키보드 이동시 포커스 아웃라인
.tabFocus {
    .swiper-pagination-bullet,
    .autoplay-toggle-button {
        &:focus {
            outline: 0.2rem $black-color solid;
            outline-offset: 0.1rem;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        &:focus {
            outline: 0.2rem $black-color solid;
            outline-offset: 0.2rem;
            border-radius: 50%;
            background-color: $primary-color;
        }
    }
}

/* 메인 페이지 끝 */
