/** 마이페이지 시작 **/
.detail-box {
    padding: 2rem;
    border-radius: 1.2rem;
    background-color: #f6f8fa;
    @include font(1.5rem, 400, 2.2rem);
    color: $placeholder;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > strong {
            color: #222;
            @include font(1.6rem, 500, 2.4rem);
        }
        & + li {
            margin-top: 0.8rem;
        }

        @include media-min-width(1025) {
            justify-content: normal;
            & > span {
                width: 22.5rem;
            }
        }
    }
    & + .btn {
        margin-top: 0.8rem;
    }
}
.desc-title + .detail-box {
    margin-top: 2.4rem;
}

.list-box.type-my-claim {
    .top {
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        .badge-group {
            display: flex;
            gap: 0.4rem;
        }
        .date {
            @include font(1.4rem, 500, 2rem);
            @include media-min-width(1025) {
                @include font(1.6rem, 400, 2.4rem);
            }
            color: $placeholder;
        }
    }
    & > li {
        position: relative;
        padding: 2rem 2rem 0;
        overflow: hidden;
        @include media-min-width(1025) {
            padding: 2.4rem 3.2rem 0;
        }
        display: block;
        & > a,
        .tit-area {
            display: block;
            position: relative;
            margin-top: 1.2rem;
            padding: 0.5rem 0;
            & > .tit,
            .tit strong {
                color: #222;
                word-break: break-all;
                padding-right: 2rem;
                @include font(1.8rem, 700, 2.6rem);
            }
            & > .tit {
                display: flex;
                align-items: center;
                .ico-bank {
                    margin-right: 1.2rem;
                }
            }
        }
        .tit-area {
            position: static;
            display: flex;
            label.singleType .lbl,
            label.singleType input {
                top: 8.2rem;
            }
        }
        .bottom {
            margin: 1.2rem -2rem 0;
            @include media-min-width(1025) {
                margin: 1.2rem -3.2rem 0;
                padding: 1.6rem 3.2rem;
            }
            padding: 1.6rem 2.4rem;
            background-color: #f6f8fa;
            .list-inner {
                background-color: inherit;
            }
        }
        .tit-list {
            @include font(1.6rem, 700, 2.4rem);
        }
        & > ul {
            margin-top: 0.8rem;
        }
        .btn-area-wrap {
            padding: 1.6rem 0rem 2rem;
            display: block;
            .msg {
                margin-top: 0;
                & + .btn-area {
                    margin-top: 1.2rem;
                }
            }
            .time {
                margin-top: 0.6rem;
                display: flex;
                justify-content: flex-end;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.8rem;
                gap: 0.6rem;
            }
            @include media-min-width(1025) {
                padding-bottom: 2.4rem;
            }
        }
        .btn-area {
            display: flex;
            gap: 0.8rem;
            & > button {
                width: 100%;
                &.btn.btn-grayLine {
                    border-color: #d9dbe3;
                    color: $text-sub-color;
                    font-size: 1.6rem;
                    font-weight: 500;
                    &:disabled {
                        pointer-events: none;
                        border-color: #ddd;
                        color: #cccccc;
                    }
                }
            }
        }
    }
    .link:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        top: calc(50% - 1.2rem);
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2366_42439)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.29289 19.7071C7.90237 19.3166 7.90237 18.6834 8.29289 18.2929L14.5858 12L8.29289 5.70711C7.90237 5.31658 7.90237 4.68342 8.29289 4.29289C8.68342 3.90237 9.31658 3.90237 9.70711 4.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L9.70711 19.7071C9.31658 20.0976 8.68342 20.0976 8.29289 19.7071Z' fill='%23727272'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2366_42439'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .list-inner {
        margin-top: 0.8rem;
        padding: 0;
        & > li {
            em {
                color: $placeholder;
            }
            span {
                color: #222222;
            }
        }
    }
}

.list-box.type-my-insur,
.list-box.type-my-hospital {
    & > li {
        display: block;
        padding-right: 2rem;
        @include media-min-width(1025) {
            padding: 2.4rem 3.2rem;
        }
        & > div {
            position: relative;
        }
        .list-inner {
            margin-top: 1.2rem;
        }
        &.expiration {
            .txt,
            img {
                opacity: 0.4;
            }
        }
    }
    .ico-bank {
        align-self: flex-start;
    }
    .msg {
        margin-top: 1.2rem;
        background-color: #f4f4f7;
        border-radius: 0.8rem;
        @include font(1.4rem, 400, 2rem);
        color: $text-sub-color;
    }
    .exp-date {
        @include font(1.4rem, 500, 2rem);
        color: $text-sub-color;
    }
    .txt {
        @include media-min-width(1025) {
            gap: 0.6rem;
        }
        .date {
            @include font(1.4rem, 400, 2rem);
            display: flex;
            color: $text-sub-color;
            @include media-min-width(1025) {
                @include font(1.6rem, 400, 2.4rem);
            }
            em {
                margin-right: 0.8rem;
                flex: none;
                color: $placeholder;
                &.w-75 {
                    @include media-min-width(1025) {
                        width: 8.5rem !important;
                    }
                }
            }
        }
    }
}

.list-box {
    &.type-mypage {
        margin-top: 1.2rem;
        & > li {
            align-items: flex-start;
            padding-right: 2rem;
            @include media-min-width(1025) {
                padding-right: 3.2rem;
            }
        }
        .address {
            @include font(1.6rem, 400, 2.4rem);
            color: $text-body-color;
        }
        .phone,
        .birth {
            @include font(1.6rem, 400, 2.4rem);
            color: $text-sub-color;
        }
        & > li > .btn + .btn {
            margin-left: 0.5rem;
            position: relative;
        }
        & > li > a {
            display: flex;
            flex: 1;
        }
    }
}

.list-claim-file {
    & > li {
        border-top: 0.1rem solid #eee;
        & + li {
            margin-top: 2.4rem;
        }
        .tit {
            display: flex;
            align-items: center;
            padding: 1.5rem 0 1.4rem;
            @include media-min-width(1025) {
                justify-content: normal;
                padding: 1.6rem 0 1.7rem;
            }
            em {
                display: flex;
                align-items: center;
                color: $placeholder;
                @include font(1.5rem, 500, 2.2rem);
                &:after {
                    content: "";
                    margin: 0 0.8rem;
                    display: inline-block;
                    width: 1px;
                    height: 1.4rem;
                    background-color: #ddd;
                }
            }
            span {
                @include font(1.6rem, 500, 2.4rem);
                @include media-min-width(1025) {
                    @include font(1.8rem, 500, 2.6rem);
                }
            }
        }
        .btns {
            margin-top: 0.8rem;
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;
            width: 100%;
            .btn {
                width: calc(50% - 0.4rem);
                @include media-min-width(1025) {
                    width: calc(25% - 0.6rem);
                }
            }
        }
    }
    & + .msg-box {
        margin-top: 3.2rem;
    }
}

.tit-form {
    & + .table-wrap,
    & + .tit-wrap {
        margin-top: 1.2rem;
    }
    & + .list-setting {
        margin-top: 2.4rem;
    }
}

.list-setting {
    & > li {
        min-height: 4.8rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        & > span:first-child {
            flex: 1;
            &.ico {
                display: flex;
                align-items: center;
                &:before {
                    content: "";
                    margin: 0.4rem 1.6rem 0.4rem 0.4rem;
                    display: inline-block;
                    width: 2.4rem;
                    height: 2.4rem;
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
            }
            &.kakao:before {
                background-image: url(/img/ico/ico_kakao.png);
            }
            &.naver:before {
                background-image: url(/img/ico/ico_naver.png);
            }
            &.google:before {
                background-image: url(/img/ico/ico_google.png);
            }
            &.apple:before {
                background-image: url(/img/ico/ico_apple.png);
            }
        }
        & + li {
            margin-top: 1.2rem;
        }
        & > a,
        & > .btn-arrow {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $base-txt-color;
            &:after {
                content: "";
                display: inline-block;
                width: 2.4rem;
                height: 2.4rem;
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9111 18.4226C10.5856 18.0972 10.5856 17.5695 10.9111 17.2441L16.1551 12L10.9111 6.75594C10.5856 6.43051 10.5856 5.90287 10.9111 5.57743C11.2365 5.25199 11.7641 5.25199 12.0896 5.57743L17.9229 11.4108C18.2484 11.7362 18.2484 12.2638 17.9229 12.5893L12.0896 18.4226C11.7641 18.748 11.2365 18.748 10.9111 18.4226Z' fill='%23727272'/%3E%3C/svg%3E%0A");
            }
            & > span {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
        .badge-icon,
        .fc-blue,
        .fc-primary {
            margin-left: 1.2rem;
        }
    }
    &.type1 {
        & > li {
            justify-content: space-between;
        }
        .desc-title + & {
            margin-top: 2.4rem;
        }
    }
    &.type2 {
        & > li {
            min-height: auto;
            & + li {
                margin-top: 1.6rem;
            }
        }
    }
    &.type-bullet {
        margin-top: 2.4rem;
        & > li > a:before {
            content: "";
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            margin-right: 0.8rem;
            align-self: flex-start;
            margin-top: 1.1rem;
            background-color: $text-sub-color;
        }
    }

    &.insur-list {
        .ico-bank {
            margin-right: 1.2rem;
        }
        li {
            color: $base-txt-color;
            @include font(1.8rem, 700, 2.6rem);
            @include media-min-width(1025) {
                @include font(2rem, 700, 2.8rem);
            }
        }
    }

    &.login-management {
        & > li {
            padding: 2rem 1.6rem;
            border: 0.1rem solid #ddd;
            border-radius: 0.8rem;
            @include font(1.8rem, 700, 2.8rem);
            & + li {
                margin-top: 0.8rem;
            }
            & > span:first-child {
                &.ico {
                    &::before {
                        width: 3.2rem;
                        height: 3.2rem;
                        margin-right: 1.2rem;
                    }
                }
            }
        }
    }

    @include media-min-width(1025) {
        &.login-management {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;
            & > li {
                margin: 0;
                // flex: 1 1 45%;
                flex: 0 0 auto;
                width: calc(50% - 0.4rem);
                border: 0.1rem solid #ddd;
                border-radius: 0.8rem;
                @include font(2rem, 700, 2.8rem);
                & + li {
                    margin-top: 0;
                }
                & > span:first-child {
                    &.ico {
                        &::before {
                            width: 4.8rem;
                            height: 4.8rem;
                        }
                    }
                }
            }
        }
    }
}

// 마이페이지 홈
.myHome-tit {
    display: flex;
    margin-top: 2.4rem;
    @include media-min-width(1025) {
        margin: 0;
    }
    h2 {
        font-size: 2.2rem;
        line-height: 3.2rem;
        font-weight: 700;
        color: $base-txt-color;
    }
    .btn {
        margin-left: auto;
        font-size: 1.3rem;
        font-weight: 500;
        border-radius: 0.4rem;
        border: 0.1rem solid $input-line;
        padding: 0.7rem 1rem;
        line-height: 1.8rem;
        color: $text-sub-color;
    }
}
.myHome-top {
    margin-top: 3.2rem;
    ul {
        display: flex;
        gap: 2rem;
        margin: 0 -2.4rem;
        @include media-min-width(1025) {
            margin: 0;
        }
        li {
            flex: 1 1 30%;
            a {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                color: $base-txt-color;
                @include media-min-width(1025) {
                    padding: 2.4rem;
                    @include font(1.8rem, 700, 2.6rem);
                }
                @include font(1.5rem, 600, 2.2rem);

                text-align: center;
                @include media-min-width(1025) {
                    background-color: $readonly-color;
                }
                border-radius: 1.2rem;
                &::before {
                    content: "";
                    display: block;
                    margin-bottom: 0.4rem;
                    @include media-min-width(1025) {
                        width: 6.4rem;
                        height: 6.4rem;
                        margin-bottom: 0.8rem;
                    }
                    width: 6rem;
                    height: 6rem;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            &.item-1 {
                a {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='64' viewBox='0 0 65 64' fill='none'%3E%3Cpath d='M52.666 11.7018V52.2982C52.666 54.3421 51.0081 56 48.9643 56H16.3678C14.3239 56 12.666 54.3421 12.666 52.2982V15.68L32.346 13.76L36.506 8H48.9643C51.0081 8 52.666 9.65696 52.666 11.7018Z' fill='%23CFDEF3'/%3E%3Cpath d='M47.2813 11.8398C48.3421 11.8398 49.2013 12.699 49.2013 13.7598C49.2013 14.8206 48.3421 15.6798 47.2813 15.6798C46.2205 15.6798 45.3613 14.8206 45.3613 13.7598C45.3613 12.699 46.2205 11.8398 47.2813 11.8398Z' fill='%23F95981'/%3E%3Cpath d='M39.9708 11.8398C41.0316 11.8398 41.8908 12.699 41.8908 13.7598C41.8908 14.8206 41.0316 15.6798 39.9708 15.6798C38.91 15.6798 38.0508 14.8206 38.0508 13.7598C38.0508 12.699 38.91 11.8398 39.9708 11.8398Z' fill='%2304C3A1'/%3E%3Cpath d='M39.1727 8L31.4927 15.68H12.666V11.7018C12.666 9.65696 14.3239 8 16.3678 8H39.1727Z' fill='%232E7FF8'/%3E%3Cpath d='M32.666 50.666C41.5026 50.666 48.666 43.5026 48.666 34.666C48.666 25.8295 41.5026 18.666 32.666 18.666C23.8295 18.666 16.666 25.8295 16.666 34.666C16.666 43.5026 23.8295 50.666 32.666 50.666Z' fill='white'/%3E%3Cpath d='M32.6672 34.6674C35.3182 34.6674 37.4672 32.5183 37.4672 29.8674C37.4672 27.2164 35.3182 25.0674 32.6672 25.0674C30.0162 25.0674 27.8672 27.2164 27.8672 29.8674C27.8672 32.5183 30.0162 34.6674 32.6672 34.6674Z' fill='%232E7FF8'/%3E%3Cpath d='M32.6664 34.666C30.1203 34.666 27.6785 35.6774 25.8782 37.4778C24.0778 39.2781 23.0664 41.7199 23.0664 44.266V47.4442C25.8302 49.5348 29.201 50.666 32.6664 50.666C36.1319 50.666 39.5026 49.5348 42.2664 47.4442V44.266C42.2664 41.7199 41.255 39.2781 39.4546 37.4778C37.6543 35.6774 35.2125 34.666 32.6664 34.666Z' fill='%23E3E8F6'/%3E%3C/svg%3E");
                    }
                }
            }
            &.item-2 {
                a {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath d='M14.8114 11.4066V29.312C14.8096 29.6365 14.7073 29.9524 14.5187 30.2164C14.3301 30.4804 14.0645 30.6796 13.7581 30.7865C13.5906 30.8538 13.4121 30.8895 13.2315 30.8919H6.91193C6.49387 30.8889 6.0938 30.7214 5.79818 30.4258C5.50255 30.1302 5.33511 29.7301 5.33204 29.312V11.4066C5.33041 10.1977 5.79277 9.03429 6.62376 8.15631C7.45475 7.27834 8.59099 6.75275 9.79813 6.68794C9.88822 6.67046 9.98002 6.6634 10.0717 6.66688C11.3282 6.66877 12.5326 7.16874 13.4211 8.05719C14.3095 8.94565 14.8095 10.1501 14.8114 11.4066Z' fill='%2394A9C7'/%3E%3Cpath d='M46.41 18.7794V50.474C46.4096 51.1118 46.2438 51.7385 45.9288 52.293C45.6137 52.8475 45.1603 53.3108 44.6127 53.6376C44.0651 53.9645 43.442 54.1437 42.8045 54.1578C42.1669 54.1719 41.5365 54.0204 40.975 53.7181C40.7225 53.5917 40.5117 53.4653 40.3013 53.3389C39.476 52.7423 38.475 52.4383 37.4573 52.4752C36.4237 52.442 35.4085 52.7532 34.5711 53.36C33.2305 54.2164 31.6721 54.6697 30.0813 54.666C28.4906 54.6623 26.9343 54.2016 25.5978 53.3389C24.7534 52.7486 23.7414 52.4458 22.7116 52.4752C21.6884 52.4454 20.6832 52.7485 19.847 53.3389C19.6361 53.4652 19.4253 53.5917 19.1939 53.7182C18.6326 54.023 18.0018 54.1765 17.3633 54.1635C16.7247 54.1506 16.1006 53.9716 15.5522 53.6443C15.0039 53.317 14.5501 52.8525 14.2357 52.2967C13.9212 51.7408 13.7569 51.1127 13.7588 50.474V10.8799C13.7581 9.80791 13.3476 8.77673 12.6114 7.99745C11.8752 7.21816 10.8691 6.7497 9.79883 6.68794C9.88892 6.67046 9.98072 6.6634 10.0724 6.66688H34.2975C37.5087 6.67097 40.5872 7.94842 42.8578 10.2191C45.1285 12.4897 46.4059 15.5682 46.41 18.7794Z' fill='%23DDE3EE'/%3E%3Cpath d='M37.4564 20.36H22.7108C22.2917 20.36 21.8899 20.1935 21.5936 19.8972C21.2973 19.601 21.1309 19.1991 21.1309 18.7801C21.1309 18.3611 21.2973 17.9592 21.5936 17.6629C21.8899 17.3666 22.2917 17.2002 22.7108 17.2002H37.4564C37.8755 17.2002 38.2773 17.3666 38.5736 17.6629C38.8699 17.9592 39.0363 18.3611 39.0363 18.7801C39.0363 19.1991 38.8699 19.601 38.5736 19.8972C38.2773 20.1935 37.8755 20.36 37.4564 20.36ZM31.1369 37.2122H22.7108C22.2917 37.2122 21.8899 37.0457 21.5936 36.7495C21.2973 36.4532 21.1309 36.0513 21.1309 35.6323C21.1309 35.2133 21.2973 34.8114 21.5936 34.5152C21.8899 34.2189 22.2917 34.0524 22.7108 34.0524H31.1369C31.5559 34.0524 31.9577 34.2189 32.254 34.5152C32.5503 34.8114 32.7168 35.2133 32.7168 35.6323C32.7168 36.0513 32.5503 36.4532 32.254 36.7495C31.9577 37.0457 31.5559 37.2122 31.1369 37.2122ZM37.4564 28.7861H22.7108C22.2917 28.7861 21.8899 28.6196 21.5936 28.3234C21.2973 28.0271 21.1309 27.6252 21.1309 27.2062C21.1309 26.7872 21.2973 26.3853 21.5936 26.089C21.8899 25.7928 22.2917 25.6263 22.7108 25.6263H37.4564C37.8755 25.6263 38.2773 25.7928 38.5736 26.089C38.8699 26.3853 39.0363 26.7872 39.0363 27.2062C39.0363 27.6252 38.8699 28.0271 38.5736 28.3234C38.2773 28.6196 37.8755 28.7861 37.4564 28.7861Z' fill='%2394A9C7'/%3E%3Cpath d='M46.666 59.333C53.2934 59.333 58.666 53.9604 58.666 47.333C58.666 40.7056 53.2934 35.333 46.666 35.333C40.0386 35.333 34.666 40.7056 34.666 47.333C34.666 53.9604 40.0386 59.333 46.666 59.333Z' fill='%2304C3A1'/%3E%3Cpath d='M47.5573 52.5335C47.8255 52.6706 48.1224 52.7418 48.4236 52.7413C48.772 52.7405 49.1133 52.6439 49.4104 52.4619C49.7074 52.2799 49.9486 52.0195 50.1074 51.7094C50.2662 51.3994 50.3365 51.0515 50.3106 50.7041C50.2847 50.3567 50.1636 50.0231 49.9605 49.74L47.7895 46.7215V42.2795C47.7895 41.777 47.5899 41.2951 47.2345 40.9397C46.8792 40.5844 46.3973 40.3848 45.8947 40.3848C45.3922 40.3848 44.9103 40.5844 44.555 40.9397C44.1996 41.2951 44 41.777 44 42.2795V47.3321C44.0008 47.7289 44.125 48.1156 44.3553 48.4387L46.8816 51.953C47.0576 52.1975 47.2892 52.3964 47.5573 52.5335Z' fill='white'/%3E%3C/svg%3E");
                    }
                }
            }
            &.item-3 {
                a {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='64' viewBox='0 0 65 64' fill='none'%3E%3Cpath d='M56.596 35.5922C57.2187 35.4671 57.6667 34.9202 57.6667 34.285V29.7137C57.6667 29.0785 57.2187 28.5316 56.596 28.4065L51.0773 27.2977C50.5821 27.1982 50.1895 26.8262 50.0362 26.345C49.7187 25.3487 49.3218 24.3897 48.8456 23.4728C48.6111 23.0212 48.6246 22.4761 48.9073 22.0531L52.0256 17.3884C52.3791 16.8594 52.3097 16.1544 51.8599 15.7046L48.6281 12.4728C48.1783 12.0229 47.4732 11.9536 46.9443 12.3071L42.2796 15.4254C41.8566 15.7081 41.3115 15.7216 40.8599 15.4871C39.943 15.0109 38.984 14.614 37.9877 14.2965C37.5065 14.1431 37.1345 13.7506 37.035 13.2554L35.9262 7.73671C35.8011 7.11402 35.2542 6.66602 34.619 6.66602H30.0476C29.4125 6.66602 28.8655 7.11402 28.7404 7.73671L27.6317 13.2554C27.5322 13.7506 27.1602 14.1431 26.679 14.2965C25.6827 14.614 24.7237 15.0109 23.8068 15.4871C23.3552 15.7216 22.8101 15.7081 22.3871 15.4254L17.7223 12.3071C17.1934 11.9536 16.4884 12.0229 16.0385 12.4728L12.8068 15.7046C12.3569 16.1544 12.2876 16.8594 12.6411 17.3883L15.7593 22.0531C16.0421 22.4761 16.0556 23.0212 15.8211 23.4728C15.3449 24.3897 14.948 25.3487 14.6305 26.345C14.4771 26.8262 14.0846 27.1982 13.5894 27.2977L8.0707 28.4065C7.44801 28.5316 7 29.0785 7 29.7137V34.285C7 34.9202 7.44801 35.4671 8.0707 35.5922L13.5894 36.701C14.0846 36.8005 14.4771 37.1725 14.6305 37.6537C14.948 38.65 15.3449 39.609 15.8211 40.5259C16.0556 40.9775 16.0421 41.5226 15.7593 41.9456L12.6411 46.6103C12.2876 47.1393 12.3569 47.8443 12.8068 48.2941L16.0385 51.5259C16.4884 51.9758 17.1934 52.0451 17.7223 51.6916L22.3871 48.5733C22.8101 48.2906 23.3552 48.2771 23.8068 48.5116C24.7237 48.9878 25.6827 49.3847 26.679 49.7022C27.1602 49.8556 27.5322 50.2481 27.6317 50.7433L28.7404 56.262C28.8655 56.8847 29.4125 57.3327 30.0476 57.3327H34.619C35.2542 57.3327 35.8011 56.8847 35.9262 56.262L37.0462 50.6874C37.1398 50.2218 37.4734 49.8415 37.9198 49.6796C38.6813 49.4034 39.9 48.9424 40.8502 48.4929C41.3102 48.2753 41.8566 48.2906 42.2796 48.5733L46.9443 51.6916C47.4732 52.0451 48.1783 51.9758 48.6281 51.5259L51.8599 48.2941C52.3097 47.8443 52.3791 47.1393 52.0256 46.6104L48.8736 41.8951C48.6086 41.4987 48.5755 40.9914 48.7782 40.5599C49.1225 39.8268 49.6591 38.6421 50.0169 37.6473C50.1879 37.1721 50.5821 36.8005 51.0773 36.701L56.596 35.5922ZM32.3333 40.4438C27.672 40.4438 23.8889 36.6607 23.8889 31.9993C23.8889 27.338 27.672 23.5549 32.3333 23.5549C36.9947 23.5549 40.7778 27.338 40.7778 31.9993C40.7778 36.6607 36.9947 40.4438 32.3333 40.4438Z' fill='%2394A9C7'/%3E%3Cpath d='M55.4078 43.999H26.4555C25.6139 43.999 24.9316 44.7452 24.9316 45.6657V55.6657C24.9316 56.5862 25.6139 57.3324 26.4555 57.3324H55.4078C56.2494 57.3324 56.9316 56.5862 56.9316 55.6657V45.6657C56.9316 44.7452 56.2494 43.999 55.4078 43.999Z' fill='%23C0E0FF'/%3E%3Crect x='39' y='49.332' width='13.3333' height='2.66667' rx='1.33333' fill='%232E7FF8'/%3E%3Cpath d='M30.0638 51.9987C30.8002 51.9987 31.3971 51.4017 31.3971 50.6654C31.3971 49.929 30.8002 49.332 30.0638 49.332C29.3274 49.332 28.7305 49.929 28.7305 50.6654C28.7305 51.4017 29.3274 51.9987 30.0638 51.9987Z' fill='%2304C3A1'/%3E%3Cpath d='M34.4368 51.9987C35.1732 51.9987 35.7702 51.4017 35.7702 50.6654C35.7702 49.929 35.1732 49.332 34.4368 49.332C33.7005 49.332 33.1035 49.929 33.1035 50.6654C33.1035 51.4017 33.7005 51.9987 34.4368 51.9987Z' fill='%23F95981'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }
}

.myHome-appUi {
    padding: 1.2rem 0;
    ul {
        li {
            a {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding-left: 6.8rem;
                box-sizing: border-box;
                &::before {
                    content: "";
                    display: block;
                    width: 4.8rem;
                    position: absolute;
                    left: 0;
                    height: 4.8rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                strong {
                    color: $base-txt-color;
                    @include font(1.8rem, 700, 2.6rem);
                }
                span {
                    color: $text-sub-color;
                    margin-top: 0.2rem;
                    @include font(1.4rem, 400, 2rem);
                }
            }
            & + li {
                margin-top: 3.2rem;
            }
            &.item-1 {
                a {
                    &:before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23DDF8F4'/%3E%3Cpath d='M12.666 25.8948C12.666 32.0944 20.7266 36.6624 23.7493 36.6624C26.7721 36.6624 34.8327 32.0944 34.8327 25.8948C34.8327 22.6315 34.8327 19.6781 34.8327 17.6126C34.8327 15.8262 33.6969 14.2465 32.0244 13.7049L25.5823 11.6187C24.3898 11.2326 23.1089 11.2326 21.9164 11.6187L15.4743 13.7049C13.8018 14.2465 12.666 15.8262 12.666 17.6126C12.666 19.6781 12.666 22.6315 12.666 25.8948Z' fill='%2304C3A1'/%3E%3Cpath d='M29.1982 22.196H25.5486V18.5466C25.5484 18.3121 25.4551 18.0872 25.2893 17.9214C25.1235 17.7556 24.8987 17.6623 24.6641 17.6621H22.8347C22.6001 17.6623 22.3753 17.7556 22.2095 17.9214C22.0436 18.0872 21.9504 18.3121 21.9502 18.5466V22.196H18.3005C18.066 22.1963 17.8412 22.2896 17.6754 22.4554C17.5096 22.6212 17.4163 22.846 17.416 23.0805V24.91C17.4163 25.1445 17.5096 25.3693 17.6754 25.5351C17.8412 25.7009 18.066 25.7942 18.3005 25.7945H21.9502V29.4442C21.9505 29.6787 22.0438 29.9035 22.2096 30.0693C22.3754 30.2351 22.6002 30.3284 22.8347 30.3287H24.6641C24.8986 30.3284 25.1234 30.2351 25.2893 30.0693C25.4551 29.9035 25.5483 29.6787 25.5486 29.4442V25.7945H29.1982C29.4327 25.7942 29.6575 25.701 29.8233 25.5351C29.9892 25.3693 30.0824 25.1445 30.0827 24.91V23.0805C30.0824 22.846 29.9892 22.6212 29.8233 22.4554C29.6575 22.2895 29.4327 22.1963 29.1982 22.196Z' fill='white'/%3E%3C/svg%3E");
                    }
                }
            }
            &.item-2 {
                a {
                    &:before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FFEFF0'/%3E%3Cpath d='M36.6649 37.2537C36.6649 37.6692 36.3384 37.9957 35.9228 37.9957H12.078C11.6624 37.9957 11.3359 37.6691 11.3359 37.2537C11.3359 34.3893 13.666 32.0098 16.5304 32.0098H31.4705C34.3348 32.0098 36.6649 34.3894 36.6649 37.2537Z' fill='%23FF5CA8'/%3E%3Cpath d='M16.4809 18.6994C15.5809 18.6994 14.5156 18.5117 13.783 17.7798C12.367 16.363 12.988 13.6992 13.0634 13.4006C13.1301 13.1354 13.3366 12.9289 13.6018 12.8622C13.8997 12.7868 16.5635 12.1658 17.981 13.5818C19.397 14.9985 18.776 17.6624 18.7006 17.961C18.6339 18.2262 18.4274 18.4327 18.1622 18.4994C18.0179 18.5356 17.3223 18.6994 16.4809 18.6994Z' fill='%236D3326'/%3E%3Cpath d='M16.5775 27.5088H15.8354C14.1984 27.5088 12.8672 26.1776 12.8672 24.5405C12.8672 22.9035 14.1984 21.5723 15.8354 21.5723H16.5775C16.9877 21.5723 17.3195 21.9042 17.3195 22.3143V26.7666C17.3196 27.1769 16.9877 27.5088 16.5775 27.5088Z' fill='%23FAC8B6'/%3E%3Cpath d='M32.1599 27.5087H31.4178C31.0076 27.5087 30.6758 27.1768 30.6758 26.7666V22.3143C30.6758 21.9041 31.0077 21.5723 31.4178 21.5723H32.1599C33.7969 21.5723 35.1281 22.9035 35.1281 24.5405C35.1281 26.1776 33.7969 27.5087 32.1599 27.5087Z' fill='%23FAC8B6'/%3E%3Cpath d='M32.1651 23.0558V26.7661C32.1651 31.263 28.4994 34.9782 24.0025 34.9782C19.5056 34.9782 15.8398 31.263 15.8398 26.7661V23.0558L19.5501 18.6035H28.4549L32.1651 23.0558Z' fill='%23FFD7CA'/%3E%3Cpath d='M27.4587 30.6898C26.5088 31.5357 25.277 32.0106 24.0006 32.0106C22.7243 32.0106 21.4925 31.5357 20.5426 30.6898C20.231 30.4078 20.2013 29.9477 20.4832 29.636C20.7504 29.3392 21.2253 29.3095 21.5221 29.5767C22.2048 30.2 23.1101 30.4968 24.0005 30.4968C24.891 30.4968 25.7964 30.2 26.4789 29.5767C26.7758 29.3095 27.2507 29.3393 27.5178 29.636C27.8 29.9477 27.7703 30.4078 27.4587 30.6898Z' fill='%23FF9564'/%3E%3Cpath d='M31.6065 18.7001C30.7659 18.7001 30.0702 18.5363 29.926 18.5001C29.6608 18.4334 29.4543 18.2269 29.3876 17.9617C29.3122 17.6631 28.6912 14.9992 30.1072 13.5825C31.5261 12.1665 34.1892 12.7882 34.4864 12.8629C34.7516 12.9296 34.9581 13.1361 35.0248 13.4013C35.1002 13.6999 35.7212 16.3638 34.3052 17.7805C33.5733 18.5124 32.5066 18.7001 31.6065 18.7001Z' fill='%2355271A'/%3E%3Cpath d='M21.035 26.0251C21.4448 26.0251 21.777 25.6929 21.777 25.2831C21.777 24.8732 21.4448 24.541 21.035 24.541C20.6252 24.541 20.293 24.8732 20.293 25.2831C20.293 25.6929 20.6252 26.0251 21.035 26.0251Z' fill='%2353433F'/%3E%3Cpath d='M26.9725 26.0251C27.3823 26.0251 27.7145 25.6929 27.7145 25.2831C27.7145 24.8732 27.3823 24.541 26.9725 24.541C26.5627 24.541 26.2305 24.8732 26.2305 25.2831C26.2305 25.6929 26.5627 26.0251 26.9725 26.0251Z' fill='%233E322E'/%3E%3Cpath d='M32.1651 22.314V23.056H29.939C27.3566 23.056 25.1156 21.5868 24.0025 19.4348C22.8894 21.5868 20.6484 23.056 18.0661 23.056H15.8398V22.314C15.8398 17.8171 19.5056 14.1514 24.0025 14.1514C28.4994 14.1514 32.1651 17.8171 32.1651 22.314Z' fill='%23883F2E'/%3E%3C/svg%3E");
                    }
                }
            }
            &.item-3 {
                a {
                    &:before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23DBEEFC'/%3E%3Cpath d='M32.607 22.1814H15.3891C15.1661 22.1814 14.9526 22.0906 14.7979 21.9299C13.2778 20.3499 12.9574 17.7554 14.1563 15.679C15.1819 13.9029 17.1582 12.8199 19.165 12.9899C20.0136 11.1837 21.9271 9.99707 23.998 9.99707C26.0661 9.99707 27.9813 11.1813 28.8311 12.99C30.8465 12.8193 32.8186 13.9105 33.8398 15.6792C35.0389 17.7558 34.7181 20.3502 33.1982 21.9299C33.0435 22.0906 32.83 22.1814 32.607 22.1814Z' fill='%23CACDD0'/%3E%3Cpath d='M14.5895 25.2192L18.1927 21.6159C18.7095 21.0992 19.5931 21.4651 19.5931 22.196V30.1477C19.5931 30.5968 19.2319 30.9666 18.7828 30.968H16.9811C15.6099 30.9721 14.3837 30.1552 13.8594 28.8891C13.3365 27.626 13.6232 26.1855 14.5895 25.2192Z' fill='%23CACDD0'/%3E%3Cpath d='M34.1393 32.0972L32.0491 30.0068C31.8952 29.853 31.6866 29.7666 31.469 29.7666H16.5321C16.3145 29.7666 16.1059 29.853 15.952 30.0068L13.8619 32.0971C12.503 33.4557 11.7556 35.2629 11.7578 37.1852C11.7584 37.6349 12.1284 37.9971 12.5781 37.9971H35.4229C35.8726 37.9971 36.2427 37.6349 36.2432 37.1852C36.2456 35.2631 35.4982 33.4558 34.1393 32.0972Z' fill='%237AC750'/%3E%3Cpath d='M29.1588 27.4531H18.8485C18.6309 27.4531 18.4222 27.5395 18.2684 27.6934L15.9551 30.0066C15.6348 30.327 15.6348 30.8464 15.9551 31.1667L17.7344 32.946C19.2531 34.4647 21.7246 34.4651 23.2437 32.946L24.0036 32.1861L24.7636 32.946C26.2823 34.4648 28.7538 34.4652 30.2729 32.946L32.0522 31.1668C32.3725 30.8465 32.3725 30.3271 32.0522 30.0067L29.7389 27.6934C29.585 27.5396 29.3764 27.4531 29.1588 27.4531Z' fill='%23459A17'/%3E%3Cpath d='M17.8505 25.6962H16.0933C14.672 25.6962 13.5156 24.5399 13.5156 23.1186C13.5156 21.6973 14.672 20.541 16.0933 20.541H17.8505C18.3036 20.541 18.6709 20.9083 18.6709 21.3613V24.8759C18.6709 25.329 18.3036 25.6962 17.8505 25.6962Z' fill='%23FAC8B6'/%3E%3Cpath d='M31.9096 25.6962H30.1523C29.6993 25.6962 29.332 25.3289 29.332 24.8759V21.3613C29.332 20.9083 29.6993 20.541 30.1523 20.541H31.9096C33.3309 20.541 34.4873 21.6974 34.4873 23.1187C34.4873 24.5399 33.3309 25.6962 31.9096 25.6962Z' fill='%23FAC8B6'/%3E%3Cpath d='M24.0021 31.8471C20.1584 31.8471 17.0312 28.72 17.0312 24.8763V21.3608C17.0312 18.2703 19.4669 15.2695 23.1818 15.2695C23.6348 15.2695 24.0021 15.6368 24.0021 16.0898C24.0021 17.5759 25.2104 18.7841 26.6955 18.7841H30.1526C30.6057 18.7841 30.973 19.1514 30.973 19.6044V24.8763C30.973 28.72 27.8458 31.8471 24.0021 31.8471Z' fill='%23FFDDCA'/%3E%3Cpath d='M27.4587 28.0237C26.5088 28.8697 25.277 29.3446 24.0006 29.3446C22.7243 29.3446 21.4925 28.8697 20.5426 28.0237C20.231 27.7418 20.2013 27.2817 20.4832 26.97C20.7504 26.6732 21.2253 26.6435 21.5221 26.9107C22.2048 27.5339 23.1101 27.8308 24.0005 27.8308C24.891 27.8308 25.7964 27.534 26.4789 26.9107C26.7758 26.6435 27.2507 26.6733 27.5178 26.97C27.8 27.2817 27.7703 27.7418 27.4587 28.0237Z' fill='%23FFAA83'/%3E%3Cpath d='M21.3633 23.499C21.8163 23.499 22.1836 23.1318 22.1836 22.6787C22.1836 22.2257 21.8163 21.8584 21.3633 21.8584C20.9102 21.8584 20.543 22.2257 20.543 22.6787C20.543 23.1318 20.9102 23.499 21.3633 23.499Z' fill='%23233743'/%3E%3Cpath d='M26.6367 23.499C27.0898 23.499 27.457 23.1318 27.457 22.6787C27.457 22.2257 27.0898 21.8584 26.6367 21.8584C26.1837 21.8584 25.8164 22.2257 25.8164 22.6787C25.8164 23.1318 26.1837 23.499 26.6367 23.499Z' fill='%230A141E'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }
}

.form-styleBox .hr-divide,
.agree-divide {
    display: block;
    height: 1.2rem;
    margin: 3.2rem -2.4rem !important;
    @include media-min-width(1025) {
        margin: 3.2rem -9rem !important;
    }
}

.icon-star {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 0;
    margin-top: -0.4rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3937_43022)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.06597 1.51418C7.44823 0.739657 8.55268 0.739657 8.93493 1.51418L10.6498 4.98896L14.4845 5.54617C15.3392 5.67037 15.6805 6.72076 15.062 7.32365L12.2872 10.0284L12.9423 13.8475C13.0883 14.6988 12.1948 15.348 11.4303 14.9461L8.00045 13.1429L4.57064 14.9461C3.80614 15.348 2.91262 14.6988 3.05862 13.8475L3.71366 10.0284L0.938884 7.32365C0.320387 6.72077 0.661682 5.67037 1.51642 5.54617L5.35107 4.98896L7.06597 1.51418Z' fill='%23FFC700'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3937_43022'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.txt-wrap {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}
@include media-min-width(1025) {
    .popup.full.childClaimPop {
        > .pop-wrap {
            max-width: 60rem;
            height: 32.8rem;
            .pop-body {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        .txt-wrap {
            margin-top: 0;
        }
    }
}

@include media-max-width(1024) {
    .my-data-agree.popup {
        > .pop-wrap {
            padding-bottom: 16rem;
        }
        .bottom-fixed {
            .flex {
                flex-direction: column;
            }
        }
    }
}
/** 마이페이지 끝 **/
